
.project42-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.project42 {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    color: var(--custom-black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.6s;
}

.project42.project42.completed:hover {
    border: 40px outset var(--custom-blue);
    cursor: pointer;
}

.project42.completed {
    border: 8px solid var(--custom-blue);
}

.project42.in-progress {
    border: 8px solid var(--custom-green)
}

.project42.not-started {
    border: 8px solid var(--custom-grey);
}