/* 
    General styles
*/

body {
    background-color: var(--custom-black);
    color: var(--custom-white);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: 900;
}

.app-container {
    /* border: 1px solid red; */
    /* height: 100vh; */
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    width: 75%;
    margin: 0 auto;
}

header {
    /* border: 1px solid green; */
}

main {
    /* border: 1px solid orange; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(100px, auto);
}

button {
    width: 170px;
    padding: 10px;
    font-weight: 500;
    border: 1px solid var(--custom-blue);
    background-color: var(--custom-blue);
    cursor: pointer;
    transition: 0.6s;

}

button:hover {
    background-color: var(--custom-black);
    color: var(--custom-blue);
    box-shadow: 4px 4px var(--custom-blue);
    transition: 0.3s;
}

footer {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}


@media screen and (min-width: 1400px) {
    .app-container {
        max-width: 1400px;
    }
}