nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav h2 {
    cursor: pointer;
}

nav h2:hover {
    text-decoration: overline;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--custom-blue);
}